/*=========================================================
Large devices 
===========================================================*/
@media(max-width:1899px) {}

@media(max-width:1799px) {}

@media(max-width:1699px) {
    .w-240 {
        width: 190px;
    }
}


@media (max-width:1599px) {

    h1,
    .h1 {
        font-size: 34px;
    }

    h2,
    .h2 {
        font-size: 24px;
    }

    h3,
    .h3 {
        font-size: 22px;
    }

    h4,
    .h4 {
        font-size: 18px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }


    .fs-14 {
        font-size: 13px !important;
    }

    .fs-16 {
        font-size: 15px !important;
    }

    .fs-18 {
        font-size: 17px !important;
    }

    .fs-20 {
        font-size: 19px !important;
    }

    .fs-22 {
        font-size: 21px !important;
    }

    .fs-26 {
        font-size: 24px !important;
    }

    .btn {
        padding: 16px 16px;
        font-size: 15px;
        border-radius: 10px;
        min-width: 170px;
    }

    .login-btn-link.btn.btn-outline,
    .login-btn-link.btn.btn-black {
        border-radius: 10px;
    }

    .btn.btn-black,
    .btn.btn-outline {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    svg.login-btn-icon {
        width: 18px;
        height: 18px;
    }

    .login-btn-col.g-logo .login-btn-link-text,
    .login-btn-col.apple-logo .login-btn-link-text {
        font-size: 15px;
        margin-bottom: 0px;
        line-height: 18px;
    }

    .form-control.border {
        height: 49px;
        font-size: 15px;
        padding: 8px 12px;
        border-radius: 10px;
    }

    .form-control.border::placeholder {
        font-size: 15px;
    }

    .form-control.border::-moz-placeholder {
        font-size: 15px;
    }

    .form-control.border:-ms-input-placeholder {
        font-size: 15px;
    }

    .form-control.border::-webkit-input-placeholder {
        font-size: 15px;
    }

    .form-control.border::-o-input-placeholder {
        font-size: 15px;
    }

    .custom-table-main th,
    .custom-table-main td {
        font-size: 14px;
    }

    .totalAmountPayable-main th,
    .totalAmountPayable-main td {
        padding: 16px 0;
    }

    .min-width-210 {
        min-width: 180px;
    }

    .min-width-100 {
        min-width: 80px;
    }

    .min-width-130 {
        min-width: 110px;
    }

    .min-width-150 {
        min-width: 130px;
    }


    .offcanvas-btn.btn {
        font-size: 14px;
        padding: 11px 20px;
    }

    /*=== Login ===*/
    .login-sec-cu-btn.btn {
        font-size: 16px;
        padding: 8px 13px 7px 13px;
    }

    .login-sec-cu-icon {
        width: 24px;
        height: 24px;
        margin-top: -2px;
    }

    .login-sec-cu-btn-wrap {
        padding-bottom: 80px;
    }

    .logo-form-wid {
        max-width: 460px;
    }

    .login-cform-main p {
        font-size: 14px;
    }

    label.form-label {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .password-icon i {
        font-size: 16px;
        height: 16px;
        right: 12px;
    }

    .password-icon .form-control {
        padding-right: 35px !important;
    }

    .login-cform-main {
        height: calc(100% - 124px);
    }

    .login-form-forpass-link {
        font-size: 14px;
    }

    .ft-links a {
        font-size: 14px;
    }

    .form-mobile-num .country-code {
        top: 15px;
    }

    .profile-preview {
        width: 120px;
        height: 120px;
    }

    .profile-preview .imageUpload-review {
        width: 120px;
        height: 120px;
    }

    .login-logo {
        margin-bottom: 60px;
    }

    .login-form {
        padding-top: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .login-form-btn-wrap.logo-form-wid .graytext {
        margin-bottom: 10px;
    }

    /* Starter Tag Screen */
    .starter-tag-wrap {
        padding: 100px 30px 0;
    }

    .option-checkbox {
        gap: 8px 6px;
    }
}


@media(max-width:1499px) {

    h1,
    .h1 {
        font-size: 32px;
    }

    h2,
    .h2 {
        font-size: 22px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }

    h4,
    .h4 {
        font-size: 16px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }


    .fs-14 {
        font-size: 13px !important;
    }

    .fs-16 {
        font-size: 14px !important;
    }

    .fs-18 {
        font-size: 15px !important;
    }

    .fs-20 {
        font-size: 17px !important;
    }

    .fs-22 {
        font-size: 20px !important;
    }

    .fs-26 {
        font-size: 23px !important;
    }

    .btn {
        padding: 14px 16px;
        min-width: 150px;
    }

    .btn.btn-black,
    .btn.btn-outline {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .form-control.border {
        height: 45px;
    }

    .login-btn-col.g-logo .login-btn-link-text,
    .login-btn-col.apple-logo .login-btn-link-text {
        font-size: 13px;
        line-height: 17px;
    }

    svg.login-btn-icon {
        width: 16px;
        height: 16px;
        margin-bottom: 1px;
    }

    /*=== Login ===*/

    .login-sec-cu-btn-wrap {
        padding-bottom: 65px;
    }

    .login-cform-main {
        height: calc(100% - 106px);
    }

    .logo-form-wid {
        max-width: 550px;
    }

    .login-sec-logo img {
        max-width: 550px;
    }

    /* .login-sec-right-con{padding:20px 30px 0px;} */

    .login-sec-cu-btn.btn {
        font-size: 15px;
    }

    /* popup modal css */
    .modal-pop {
        padding: 50px 30px;
    }

    .skip-btn-main .skip-btn {
        font-size: 16px;
        top: 30px;
    }

    .carousel-item img {
        margin-bottom: 50px;
    }
    
    .custom-indicators {
        top: calc(100% - 140px);
    }

}


@media (max-width: 1399px) {

    h1,
    .h1 {
        font-size: 30px;
    }

    h2,
    .h2 {
        font-size: 22px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }

    h4,
    .h4 {
        font-size: 16px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }

    .fs-14 {
        font-size: 12px !important;
    }

    .fs-16 {
        font-size: 14px !important;
    }

    .fs-18 {
        font-size: 15px !important;
    }

    .fs-20 {
        font-size: 17px !important;
    }

    .fs-22 {
        font-size: 19px !important;
    }

    .fs-26 {
        font-size: 22px !important;
    }

    /*=== Login ===*/

    .logo-form-wid {
        max-width: 410px;
    }

    .login-cform-main {
        height: calc(100% - 105px);
    }

    /* .whole-logo{max-width:500px;} */

    .profile-preview {
        width: 110px;
        height: 110px;
    }

    .profile-preview .imageUpload-review {
        width: 110px;
        height: 110px;
    }

    /* popup modal css */
    .custom-indicators {
        top: calc(100% - 130px);
    }

}


@media(max-width:1299px) {

    h1,
    .h1 {
        font-size: 28px;
    }

    h2,
    .h2 {
        font-size: 22px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }

    h4,
    .h4 {
        font-size: 16px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }


    .fs-14 {
        font-size: 12px !important;
    }

    .fs-16 {
        font-size: 13px !important;
    }

    .fs-18 {
        font-size: 14px !important;
    }

    .fs-20 {
        font-size: 16px !important;
    }

    .fs-22 {
        font-size: 18px !important;
    }

    .fs-26 {
        font-size: 21px !important;
    }


    /*=== Login ===*/

    .logo-form-wid {
        max-width: 390px;
    }

    /* .whole-logo{max-width:390px;} */
    .login-form {
        max-width: 390px;
    }

    .login-btn-row {
        display: flex;
        flex-wrap: wrap;
    }

    .mjc-wrap {
        font-size: 13px !important;
    }

    /* setup-starter-tag screen */
    .tag-item span {
        padding: 6px 10px;
        font-size: 12px;
    }

}


@media (max-width: 1199px) {

    h1,
    .h1 {
        font-size: 26px;
    }

    h2,
    .h2 {
        font-size: 22px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }

    h4,
    .h4 {
        font-size: 16px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }


    .fs-14 {
        font-size: 12px !important;
    }

    .fs-16 {
        font-size: 13px !important;
    }

    .fs-18 {
        font-size: 14px !important;
    }

    .fs-20 {
        font-size: 15px !important;
    }

    .fs-22 {
        font-size: 17px !important;
    }

    .fs-26 {
        font-size: 20px !important;
    }

    .min-width-185 {
        min-width: 140px !important;
    }

    /*=== Login ===*/

    .setacc-form-la label.form-label {
        font-size: 12px;
    }

    .profile-preview {
        width: 100px;
        height: 100px;
    }

    .profile-preview .imageUpload-review {
        width: 100px;
        height: 100px;
    }

    .login-sec-right-con {
        padding: 45px;
    }

    .login-logo {
        margin-bottom: 40px;
    }

    .whole-logo {
        max-width: 170px;
    }

    /* Starter Tag Screen */
    .starter-tag-wrap {
        padding: 80px 30px 0;
    }
    .custom-arrow {
        width: 38px;
        height: 38px;
    }
    .custom-arrow svg {
        width: 14px;
    }
}


/*=========================================================
// Medium devices (tablets, less than 992px)
===========================================================*/
@media (max-width: 991px) {

    h1,
    .h1 {
        font-size: 26px;
    }

    h2,
    .h2 {
        font-size: 20px;
    }

    h3,
    .h3 {
        font-size: 18px;
    }

    h4,
    .h4 {
        font-size: 16px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }


    .fs-14 {
        font-size: 12px !important;
    }

    .fs-16 {
        font-size: 13px !important;
    }

    .fs-18 {
        font-size: 14px !important;
    }

    .fs-20 {
        font-size: 15px !important;
    }

    .fs-22 {
        font-size: 17px !important;
    }

    .fs-26 {
        font-size: 19px !important;
    }

    /*=== Login ===*/

    .login-sec-left-con {
        padding: 40px 0px 20px;
        height: auto;
    }

    .ft-links a {
        font-size: 14px;
    }

    .login-sec-left-wrap-m {
        padding: 0px 15px;
        background: transparent;
        height: auto;
    }

    .login-sec-right-con {
        padding: 0px 0px;
        height: auto;
    }

    .login-cform-main {
        height: auto;
        background: #fff;
        padding: 30px 20px 20px;
        border-radius: 20px;
    }

    .password-icon i {
        right: 12px;
    }

    .form-mobile-num .country-code {
        top: 13px;
    }

    .login-sec {
        height: auto;
        display: block;
    }

    .login-sec-row {
        height: auto;
    }

    .login-sec-left-wrap {
        height: auto;
    }

    .login-sec-right-set-wrap {
        height: auto;
    }

    .setacc-form {
        height: auto;
    }

    .login-sec-right-wrap-h {
        height: auto;
    }

    .setacc-form-la label.form-label {
        font-size: 14px;
    }

    .rightleft-line span {
        background-color: #fff;
        font-size: 15px;
    }

    .login-sec-right-main {
        max-width: 750px;
        padding: 20px 0px 40px;
    }

    .login-sec-right-con {
        box-shadow: none;
    }

    .login-btn-link.btn.btn-outline,
    .login-btn-link.btn.btn-black {
        border-radius: 10px;
    }

    /* Starter Tag Screen */
    .starter-tag-wrap .fixed-btn-wrap {
        padding: 50px 0 10px;
        max-width: 390px;
        /* flex-direction: column; */
    }

    .setup-startertag-main .form-group {
        text-align: center;
    }

    .setup-startertag-main .option-checkbox {
        justify-content: center;
    }
    /* popup css */
    
    .onboarding-screens-main {
        min-height: 450px;
    }
    
    .carousel-item img {
        max-height: 250px;
        margin-bottom: 40px;
    }
    
    .skip-btn-main .skip-btn {
        font-size: 15px;
    }
    .custom-indicators {
        top: calc(100% - 132px);
    }
    
    .custom-arrow {
        top: 80%;
    }
    .modal-dialog {
        max-width: 600px;
    }
    
}


/*=========================================================
// Small devices (landscape phones, less than 768px)
===========================================================*/
@media (max-width: 767px) {


    h1,
    .h1 {
        font-size: 24px;
    }

    h2,
    .h2 {
        font-size: 20px;
    }

    h3,
    .h3 {
        font-size: 18px;
    }

    h4,
    .h4 {
        font-size: 16px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }

    .btn {
        min-width: 110px;
        padding: 12px 16px;
        font-size: 14px;
    }

    .form-control.border {
        height: 40px;
        font-size: 13px;
    }

    .form-control.border::placeholder {
        font-size: 13px;
    }

    .form-control.border::-moz-placeholder {
        font-size: 13px;
    }

    .form-control.border:-ms-input-placeholder {
        font-size: 13px;
    }

    .form-control.border::-webkit-input-placeholder {
        font-size: 13px;
    }

    .form-control.border::-o-input-placeholder {
        font-size: 13px;
    }

    .login-btn-col.g-logo .login-btn-link-text,
    .login-btn-col.apple-logo .login-btn-link-text {
        font-size: 14px;
        line-height: 15px;
    }

    .login-btn-main .login-btn-col {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }


    /*=== Login ===*/

    .whole-logo {
        max-width: 160px;
    }

    .login-sec-cu-btn.btn {
        text-indent: -99999px;
        padding: 8px;
    }

    .login-sec-cu-icon {
        margin: 0;
    }

    .bck-btn.btn-outline {
        text-indent: -99999px;
        min-width: auto;
        padding: 7px;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none !important;
    }
    .custom-indicators {
        top: calc(100% - 145px);
    }
    .carousel-item img {
        max-height: 250px;
        margin-bottom: 60px;
    }

    .onboarding-screens-main {
        min-height: auto;
    }
    .modal-pop {
        padding: 60px 30px;
    }
    .skip-btn-main .skip-btn {
        top: 24px;
    }
    .wrap-content-slide {
        max-width: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        margin: 0 20px;
    }

}


/*=========================================================
Extra small devices (portrait phones, less than 576px)
===========================================================*/
@media (max-width: 575px) {

    h1,
    .h1 {
        font-size: 22px;
    }

    h2,
    .h2 {
        font-size: 20px;
    }

    h3,
    .h3 {
        font-size: 18px;
    }

    h4,
    .h4 {
        font-size: 16px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    .offcanvas-btn-wrap .btn {
        margin: 2px;
    }

    .whole-logo {
        max-width: 140px;
    }

    /* login screen */
    .code-input {
        height: 44px; 
    }
    .custom-indicators {
        top: calc(100% - 140px);
    }
    

}

@media (max-width:399px) {
    .modal-dialog {
        margin: 0 16px;
    }
    .custom-indicators {
        top: calc(100% - 160px);
    }
}

@media (max-width:320px) {
    .modal-pop {
        padding: 50px 30px;
    }
    .carousel-item img {
        margin-bottom: 60px;
        margin-top: 20px;
    }
    .custom-indicators {
        top: calc(100% - 160px);
    }
}