.main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    width: 300px;
    background: #fff;
    z-index: 99;
}

.main-logo-wrapper {
    padding: 45px 30px 30px;
}

.sidebar.sidebar-menu-main {
    padding: 30px;
    height: calc(100vh - (104px + 20px));
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--theme-primary-light) transparent;
    scrollbar-width: thin;
}

.sidebar.sidebar-menu-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-sidebar li.sb-nav-item {
    margin-bottom: 10px;
}

.main-sidebar .sb-nav-item .sb-nav-link {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 15px 18px;
    width: 100%;
    border-radius: 12px;
    color: #ffffff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
    transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
    -webkit-transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
    -moz-transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
    -ms-transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
    -o-transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
}

.main-sidebar .sb-nav-item .sb-nav-link::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: var(--theme-primary);
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    -webkit-transition: width 0.3s ease, opacity 0.3s ease;
    -moz-transition: width 0.3s ease, opacity 0.3s ease;
    -ms-transition: width 0.3s ease, opacity 0.3s ease;
    -o-transition: width 0.3s ease, opacity 0.3s ease;
}

.main-sidebar .sb-nav-item.active .sb-nav-link::before {
    width: 4px;
    opacity: 1;
}

.main-sidebar .sb-nav-item .sb-nav-link .sb-nav-icon {
    width: 18px;
    height: 18px;
    min-width: 18px;
}

.main-sidebar .sb-nav-item .sb-nav-link p {
    /* width: calc(100% - 24px); */
    padding-left: 10px;
    color: var(--theme-gray1);
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
}

.main-sidebar li.sb-nav-item .sb-nav-link:hover {
    background: var(--theme-primary-light);
}

.main-sidebar li.sb-nav-item .sb-nav-link:hover p {
    color: var(--theme-primary);
}

.main-sidebar li.sb-nav-item.active .sb-nav-link {
    background: var(--theme-primary-light);
    border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -ms-border-radius: 0 12px 12px 0;
    -o-border-radius: 0 12px 12px 0;
}

.main-sidebar li.sb-nav-item.active .sb-nav-link p {
    color: var(--theme-primary);
    font-weight: 400;
}

.main-sidebar li.sb-nav-item .sb-nav-link svg path {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.main-sidebar li.sb-nav-item.active .sb-nav-link svg path {
    fill: var(--theme-primary);
}

.main-sidebar .sb-nav-item .sb-nav-link .sb-nav-icon path.i-fill {
    visibility: hidden;
    opacity: 0;
}

.main-sidebar .sb-nav-item.active .sb-nav-link .sb-nav-icon path.i-fill {
    visibility: visible;
    opacity: 1;
}

.main-sidebar li.sb-nav-item .sb-nav-link:hover .sb-nav-icon path.i-fill {
    fill: var(--theme-primary);
}

.main-sidebar li.sb-nav-item .sb-nav-link:hover .sb-nav-icon path.i-border {
    fill: var(--theme-primary);
}

.sidebar-show-hide .main-sidebar {
    width: 120px;
}

.sidebar-show-hide .main-header {
    width: calc(100vw - 120px);
}

.main-sidebar li.sb-nav-item .sb-nav-link p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    line-height: normal;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.countbadge {
    background-color: var(--theme-primary);
    color: #ffffff;
    min-width: 24px;
    height: 24px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin-left: 4px;
    padding: 3px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link p {
    padding-left: 0px;
    opacity: 0;
}

.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link .countbadge {
    right: 10px;
    transform: scale(0.8);
    will-change: transform;
    transform-origin: 8px -36px;
    outline: 3px solid #fff;
}

.main-sidebar .sb-nav-item .sb-nav-link .countbadge {
    position: absolute;
    right: 16px;
    z-index: 1;
}

.sidebar-show-hide .main-header nav.main-header {
    margin-left: 100px;
}

.sidebar-toggle i.fa-bars {
    font-style: normal;
}

.sidebar-show-hide .headera-logo-wrap {
    width: 107px;
}

body.sidebar-show-hide {
    overflow: hidden;
}

@media(max-width:1799px) {
    .content-wrapper {
        margin-left: 260px;
        margin-top: 116px;
        min-height: calc(100vh - 116px);
    }

    .sidebar-show-hide .main-header {
        width: calc(100vw - 114px);
    }

    .sidebar-show-hide .headera-logo-wrap {
        width: 100px;
    }

    .main-logo-wrapper {
        padding: 43px 30px 30px;
    }

    .sidebar-show-hide .main-sidebar {
        width: 114px;
    }

    .sidebar-show-hide .content-wrapper {
        margin-left: 114px;
    }

    .main-sidebar li.sb-nav-item {
        margin-bottom: 8px;
    }

    .main-sidebar .sb-nav-item .sb-nav-link p {
        font-size: 14px;
    }

    .sidebar.sidebar-menu-main {
        height: calc(100vh - (87px + 20px));
    }

    .main-sidebar {
        width: 260px;
    }

    .countbadge {
        min-width: 20px;
        height: 20px;
        font-size: 9px;
    }

    .main-sidebar .sb-nav-item .sb-nav-link .sb-nav-icon {
        width: 16px;
        height: 16px;
        min-width: 16px;
    }
}

@media(max-width:1599px) {

    .content-wrapper {
        min-height: calc(100vh - 87px);
        margin-left: 245px;
        margin-top: 87px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link .countbadge {
        right: 14px;
    }

    .sidebar-show-hide .headera-logo-wrap {
        width: 94px;
    }

    .main-sidebar .sb-nav-item .sb-nav-link {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .main-sidebar li.sb-nav-item.active .sb-nav-link {
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -ms-border-radius: 0 10px 10px 0;
        -o-border-radius: 0 10px 10px 0;
    }

    .sidebar.sidebar-menu-main {
        padding: 15px 20px;
        margin-left: 4px;
    }

    .main-logo-wrapper {
        padding: 30px 20px 25px;
    }

    .main-sidebar {
        width: 245px;
    }

    .sidebar-show-hide .main-sidebar {
        width: 100px;
    }

    .sidebar-show-hide .content-wrapper {
        margin-left: 100px;
    }

    .sidebar-show-hide .main-header {
        width: calc(100vw - 100px);
    }
}

@media(max-width:1499px) {
    .sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link .countbadge {
        right: 28px;
    }

    .main-logo-wrapper {
        padding: 28px 20px 25px;
    }

    .main-sidebar {
        width: 230px;
    }

    .sidebar.sidebar-menu-main {
        height: calc(100vh - (82px + 20px));
        padding: 15px 15px;
        margin-left: 0;
    }

    .content-wrapper {
        min-height: calc(100vh - 86px);
        margin-left: 230px;
        margin-top: 86px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media(max-width:1399px) {
    .main-logo-wrapper {
        padding: 28px 15px 25px;
    }

    .main-sidebar .sb-nav-item .sb-nav-link {
        min-height: auto;
        padding: 14px 15px;
    }

    .countbadge {
        min-width: 18px;
        height: 18px;
    }

    .sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link .countbadge {
        right: 15px;
    }

    .sidebar-show-hide .main-sidebar {
        width: 82px;
    }

    .sidebar-show-hide .content-wrapper {
        margin-left: 82px;
    }

    .sidebar-show-hide .headera-logo-wrap {
        width: 82px;
    }

    .header-left-text {
        padding-left: 12px;
    }

    .sidebar-show-hide .main-header {
        width: calc(100vw - 82px);
    }

    .main-sidebar {
        width: 210px;
    }

    .content-wrapper {
        margin-left: 210px;
    }

}

@media(max-width:1199px) {
    .content-wrapper {
        margin-top: 72px;
    }

    .main-logo-wrapper {
        padding: 20px 15px 20px;
    }

    .main-sidebar {
        width: 180px;
    }

    .content-wrapper {
        margin-left: 180px;
        margin-top: 69px;
        min-height: calc(100vh - 69px);
    }

    .main-sidebar .sb-nav-item .sb-nav-link p {
        font-size: 12px;
    }


}

@media(max-width:767px) {
    .countbadge {
        min-width: 18px;
        height: 18px;
        padding: 4px;
    }

    .sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link .countbadge {
        right: 10px;
        top: initial;
        transform: none;
        outline: none;
    }

    .main-sidebar .sb-nav-item .sb-nav-link .countbadge {
        align-items: start;
        outline: 3px solid #fff;
        transform-origin: 130px -80px;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }

    .main-sidebar li.sb-nav-item .sb-nav-link:hover .countbadge {
        outline: none;
    }

    .sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link {
        justify-content: start;
    }

    .main-sidebar .sb-nav-item.active .sb-nav-link::before {
        width: 3px;
    }

    .main-sidebar .sb-nav-item .sb-nav-link {
        justify-content: center;
        min-width: auto;
        padding: 12px 12px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .main-sidebar li.sb-nav-item.active .sb-nav-link {
        border-radius: 0 8px 8px 0;
        -webkit-border-radius: 0 8px 8px 0;
        -moz-border-radius: 0 8px 8px 0;
        -ms-border-radius: 0 8px 8px 0;
        -o-border-radius: 0 8px 8px 0;
    }

    .main-sidebar {
        width: 60px;
        /* z-index: 1030; */
    }

    .sidebar.sidebar-menu-main {
        padding: 30px 6px 15px;
        margin: 0 5px;
    }


    .content-wrapper {
        margin-left: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .sidebar-show-hide .main-sidebar {
        width: 200px;
        z-index: 9999;
    }

    .sidebar-show-hide .content-wrapper {
        margin-left: 60px;
    }

    .main-sidebar li.sb-nav-item .sb-nav-link p {
        opacity: 0;
        visibility: hidden;
        padding-left: 0;
    }

    .sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link p {
        padding-left: 8px;
        visibility: visible;
        opacity: 1;
        /* position: relative;
        display: block; */
    }

    .sidebar-show-hide .sidebar-show-hide-bck {
        background-color: rgba(0, 0, 0, 0.8);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        z-index: 999;
    }


}

@media(max-width:575px) {
    .sidebar.sidebar-menu-main {
        margin: 0 3px;
    }
}