/* Website Global CSS
========================================================== */
body,
html {
    height: 100%;
}

body {
    background-color: var(--theme-body);
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: normal;
    color: var(--theme-text-color);
    text-transform: none;
}
:root{
    --theme-body:#F9F9F9;
    --theme-background:#FFFFFF;
    --theme-black: #000000;
    --theme-primary:#C67C4E;
    --theme-primary-light: #FBEDE5;
    --LightBrown: #FBEDE5;

    --theme-text-color: #161212;

    --theme-secondary-btn: #E4E4E4;
    --hover-secondary-btn: #C3C3C3;
    --hov-text-secondary-btn: #242424;
    --hover-primary-btn: #525252;
    --disabled-btn: #B4B4B4;

    --theme-red: #E8593C;
    --theme-delete-red: #FF3B30;
    --theme-del-dark-red: #E84958;

    --theme-gray1: #808080;
    --theme-gray2: #4D4D4D;
    --theme-gray3: #D8DADC;
    --theme-gray4: #797979;
    --theme-title: #242424;
    --theme-black1: #121212;
    --theme-icon: #666666;
    --sec-title: #A1A1AA;
    --sub-text: #64748B;
}

*,
html {
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--theme-text-color);
    display: inline-block;
}

/* Common color hyperlink */
a:hover,
a:active {
    color: var(--theme-primary);
    text-decoration: none;
}

/* Common hover color hyperlink */
a,
*:hover,
*:focus,
*:active :focus {
    text-decoration: none;
    outline: none !important;
    outline-offset: 0 !important;
}

a img,
img {
    border: none;
    outline: none !important;
    outline-offset: 0 !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

i {
    font-family: 'FontAwesome';
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    line-height: normal;
}

/* Transition Effect CSS */
a,
i,
input {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}

/* Browser Selection CSS */
::selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}

::-moz-selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}

::-webkit-selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}

::-o-selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}

::-ms-selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}


::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: var(--theme-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-primary);
    -webkit-border-radius: 30px;
}

/* Only FireFox */
html {
    scrollbar-width: thin;
    scrollbar-border-radius: 30px;
}




/* Font Size Style CSS */

.fs-10{font-size:10px !important;}
.fs-12{font-size:12px !important;}
.fs-14{font-size:14px !important;}
.fs-16{font-size:16px !important;}
.fs-18{font-size:18px !important;}
.fs-20{font-size:20px !important;}
.fs-22{font-size:22px !important;}
.fs-26{font-size:26px !important;}


/* Font Weight Style CSS */

.fw-normal{font-weight:200 !important;}
.fw-regular{font-weight:400 !important;}
.fw-medium{font-weight:500 !important;}
.fw-semibold{font-weight:600 !important;}
.fw-bold{font-weight:700 !important;}

.fw-200{font-weight:200 !important;}
.fw-300{font-weight:300 !important;}
.fw-400{font-weight:400 !important;}
.fw-500{font-weight:500 !important;}
.fw-600{font-weight:600 !important;}
.fw-700{font-weight:700 !important;}


/* Font Color Style CSS  */

.text-primary {color: var(--theme-primary) !important;}
.text_title { color: var(--theme-title) !important; }
.text_gray1 { color: var(--theme-gray1) !important; }
.text_gray2 { color: var(--theme-gray2) !important; }
.text_gray3 { color: var(--theme-gray3) !important; }
.text_gray4 { color: var(--theme-gray4) !important; }
.text_body { color: var(--theme-body) !important; }
.text_white { color: var(--theme-background) !important; }
.text_black { color: var(--theme-black) !important; }
.text_black1 { color: var(--theme-black1) !important;}
.theme_color { color: var(--theme-text-color) !important; }
.text_icon { color: var(--theme-icon) !important; }
.text_red { color: var(--theme-red) !important; }
.sec_title_color { color: var(--sec-title) !important; }
.sub_text_color { color: var(--sub-text) !important; }

.bg-primary { background-color: var(--theme-primary) !important; }
.bg-primary-light { background-color: var(--theme-primary-light) !important; }
.bg-light-brown { background-color: var(--LightBrown) !important; }
.bg_title { background-color: var(--theme-title) !important; }
.bg_gray1 { background-color: var(--theme-gray1) !important; }
.bg_gray2 { background-color: var(--theme-gray2) !important; }
.bg_gray3 { background-color: var(--theme-gray3) !important; }
.bg_gray4 { background-color: var(--theme-gray4) !important;}
.bg_body { background-color: var(--theme-body) !important; }
.bg_white { background-color: var(--theme-background) !important; }
.bg_black { background-color: var(--theme-black) !important; }
.bg_black1 { background-color: var(--theme-black1) !important;}
.bg_icon { background-color: var(--theme-icon) !important; }
.bg_red { background-color: var(--theme-red) !important; }


.bg-secondary-btn { background-color: var(--theme-secondary-btn) !important; }
.bg-secondary-btn:hover { background-color: var(--theme-secondary-hov) !important; }



/* Heading Style CSS
=================================================== */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    font-family: 'SFProDisplay', sans-serif;
    line-height: 1.2;
    font-weight: bold;
    color: var(--theme-title);
}

h1,.h1 { font-size:32px; }
h2,.h2 { font-size:26px; }
h3,.h3 { font-size:24px; }
h4,.h4 { font-size:20px; }
h5,.h5 { font-size:18px; }  
h6,.h6 { font-size:16px; }

p {
    line-height: 1.5;
    font-family: 'SFProDisplay', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--theme-gray1);
    margin-bottom: 15px;
}


/* Image Style CSS 
=================================================== */
img { margin-bottom:0; } 


/* Linedivider Style CSS BOF
=================================================== */  
.hr_line {
    border-top: 1.5px dashed var(--theme-gray3);
    width: 100%;
    opacity: 1;
}

hr,.hr {
    border-bottom: 1px dashed var(--theme-gray3);
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    border-top: 0;
    opacity: 1;
}
.hr_solid,.hr_solid {
    border-bottom: 1px solid var(--theme-gray3);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-top: 0;
    opacity: 1;
}
.border-0{
    border: 0 !important;
}
.border-right-0{
    border-right: 0 !important;
}
.border-left-0{
    border-left: 0 !important;
}
.border-top-0{
    border-top: 0 !important;
}
.border-bottom-0{
    border-bottom: 0 !important;
}

.br5{border-radius:5px;}        
.br10{border-radius:10px;}
.br12{border-radius:12px;}
.br14{border-radius:14px;}
.br15{border-radius:15px;}
.br16{border-radius:16px;}
.br18{border-radius:18px;}
.br20{border-radius:20px;}
.br30{border-radius:30px;}
.br38{border-radius:38px;}
.br34{border-radius:34px;}
.br45{border-radius:45px;}
.br50{border-radius:50px;}


/* Button Style CSS
=================================================== */  
.btn {
    background-color: var(--theme-secondary-btn);
    padding: 19px 20px;
    border: 1px solid var(--theme-primary);
    color: var(--theme-background);
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    font-family: 'SFProDisplay', sans-serif;
    text-transform: capitalize;
    box-shadow: none;
    min-width: 185px;
    /* height: 56px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 12px;
    cursor: pointer !important;
    transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: var(--hover-secondary-btn) !important;
    color: var(--hov-text-secondary-btn) !important;
    box-shadow: none;
    outline: none;
    border-color: var(--hover-secondary-btn) !important;
}

.btn:focus-visible{
    outline: none !important;
    box-shadow: none !important;
}

.btn:disabled,
.btn.disabled {
    color: var(--theme-black) !important;
    background-color: var(--disabled-btn) !important;
    border-color: var(--disabled-btn) !important;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    pointer-events: none !important;
    cursor: not-allowed !important;
    /* opacity: 0.5 !important; */
}

/* Primary */
.btn.btn-primary {
    background-color: var(--theme-primary);
    border-color: var(--theme-primary);
    color: var(--theme-background);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus{
    background-color: var(--hover-primary-btn) !important;
    border-color: var(--hover-primary-btn) !important;
    color: var(--theme-background) !important;
}

.btn.btn-primary:active{
    background-color: var(--theme-primary) !important;
    border-color: var(--theme-primary) !important;
    color: var(--theme-background) !important;
}


/* Secondary */
.btn.btn-secondary {
    background-color: var(--theme-secondary-btn);
    border-color: var(--theme-secondary-btn);
    color: var(--hov-text-secondary-btn);
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus{
    background-color: var(--hover-secondary-btn) !important;
    border-color: var(--hover-secondary-btn) !important;
    color: var(--hov-text-secondary-btn) !important;
}

.btn.btn-secondary:active{
    background-color: var(--theme-secondary-btn) !important;
    border-color: var(--theme-secondary-btn) !important;
    color: var(--hov-text-secondary-btn) !important;
}


/* Outline */
.btn.btn-outline {
    border: 1px solid var(--theme-gray3);
    background-color: var(--theme-background);
    color: var(--theme-title);
    padding-top: 16px;
    padding-bottom: 16px;
}
.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline:active {
    background-color: var(--hov-text-secondary-btn) !important;
    border-color: var(--hov-text-secondary-btn) !important;
    color: var(--theme-background) !important;
}

/* Black */
.btn.btn-black {
    border-color: var(--theme-gray3);
    background-color: var(--theme-background);
    color: var(--theme-title);
    padding-top: 16px;
    padding-bottom: 16px;
}
.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black:active {
    background-color: var(--hov-text-secondary-btn) !important;
    border-color: var(--hov-text-secondary-btn) !important;
    color: var(--theme-background) !important;
}

.btn.btn-black:hover svg path,
.btn.btn-black:focus svg path,
.btn.btn-black:active svg path {
    fill: var(--theme-background);
}

/* White */
.btn-white {
    background-color: var(--theme-background);
    color: var(--theme-primary);
}

.btn-white:hover {
    background-color: var(--theme-secondary-btn) !important;
    border-color: var(--theme-secondary-btn) !important;
    color: var(--theme-primary) !important;
}

.btn-full{display:flex;flex-direction:column;}
.btn-100{width: 100%;}


/* Offcanvas Button Styles */
.offcanvas-btn.btn{font-size:16px;font-weight:500;padding:13px 25px;min-width:auto;border-radius:12px;}
.offcanvas-btn1.btn{font-size:14px;padding:8px 32px;border-radius:30px;min-width: auto;}



/* Form & Input Style 
==================================================== */ 
textarea.form-control { padding-right:5px; resize:none; overflow:auto; height:90px; }    

/* Label CSS */
label.form-label {font-size: 14px;color: var(--theme-title);margin-bottom: 10px;} 
.dropdown-item.active,.dropdown-item:active{background-color:inherit!important;color:inherit!important;}
    
/* Password Icon Start */
.password-icon i{color: var(--theme-icon);font-size:18px;cursor:pointer;position:absolute;right: 15px;top: 0;bottom: 0;margin: auto;height: 18px;}
.password-icon{position:relative;}

.form-group{margin-bottom:30px;position:relative;}
.form-control[disabled] {opacity: 0.5; }
.form-control.border {background-color:#fff;border: 1px solid #D8DADC !important;border-radius: 12px;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;font-size: 16px;color:var(--theme-title);-webkit-appearance: none;font-family: 'SFProDisplay', sans-serif;font-weight: 300;padding:18px 16px;height: 56px;} 

/* Focus State CSS */
.form-control.border:focus,.form-select.border:focus {box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;border-color:var(--theme-primary)!important;}

/* Placeholder CSS */
.form-control.border::placeholder{color:var(--theme-gray1);font-weight:300;font-size:16px;}
.form-control.border::-moz-placeholder{color:var(--theme-gray1);font-weight:300;font-size:16px;}
.form-control.border:-ms-input-placeholder{color:var(--theme-gray1);font-weight:300;font-size:16px;}
.form-control.border::-webkit-input-placeholder{color:var(--theme-gray1);font-weight:300;font-size:16px;}
.form-control.border::-o-input-placeholder{color:var(--theme-gray1);font-weight:300;font-size:16px;}
textarea.form-control.border{height: 108px;}

input::-webkit-autofill,
input::-webkit-autofill:hover,
input::-webkit-autofill:focus,
textarea::-webkit-autofill,
textarea::-webkit-autofill:hover,
textarea::-webkit-autofill:focus,
select::-webkit-autofill,
select::-webkit-autofill:hover,
select::-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--theme-background) inset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield !important;
}




/*
| ========================================================
| Custom Utility Classes CSS 
| ========================================================
*/

.page-wrapper { margin:0px auto; }
.text-underline{ text-decoration: underline !important; }
.text-capitalize{ text-transform: capitalize !important; }
.text-uppercase{ text-transform: uppercase !important; }
.display-none{ display: none !important; }
.table-responsive { scrollbar-width: thin; }
.custom-table-main td{word-break:break-word;}
.no-scroll { overflow: hidden; }

.ellipsis-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.transition-4{
    transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    -ms-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
}
.text_underline{   
    text-decoration: underline;
    text-underline-offset: 3px;
}
.letter-spacing-01{letter-spacing:0.1px;}


/* Spacing Classes */
.p-14{padding:14px;}
.p16{
    padding: 16px;
}
.p20{
    padding: 20px;
}
.p30{
    padding: 30px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.mtmb24{
    margin-top: 24px;
    margin-bottom: 24px;
}
.mb_10{
    margin-bottom: 10px;
}
.mt_10{
    margin-top: 10px;
}
.mtb_10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mb_30{
    margin-bottom: 30px;
}
.mtmb20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mtmb16{
    margin-top: 16px;
    margin-bottom: 16px;
}


/* Custom Width Classes */
.width-p-1{width:1%;}
.width-p-2{width:2%;}
.width-p-5{width:5%;}
.width-p-10{width:10%;}
.width-p-15{width:15%;}
.width-p-20{width:20%;}
.width-p-25{width:25%;}
.width-p-30{width:30%;}
.width-p-35{width:35%;}
.width-p-40{width:40%;}
.width-p-45{width:45%;}
.width-p-50{width:50%;}
.width-p-55{width:55%;}
.width-p-60{width:60%;}
.width-p-65{width:65%;}
.width-p-70{width:70%;}
.width-p-75{width:75%;}
.width-p-80{width:80%;}
.width-p-85{width:85%;}
.width-p-90{width:90%;}
.width-p-95{width:95%;}
.width-p-100{width:100%;}


.min-width-210{min-width:210px;}
.min-width-100{min-width:100px;}
.min-width-130{min-width:130px;}
.min-width-150{min-width:150px;}
.min-width-185{min-width:185px !important;}

.wh-90{width:90px !important; height: 90px !important;}
.wh-82{width: 82px !important;height: 82px !important;}
.wh-44{width: 44px !important;height: 44px !important;}


.mx-100{max-width:100%!important;}
.minw-auto{min-width:auto!important;}




/* apple toggle start */

/* Hide native checkbox */
.apple-toggle-wrap .checkbox{position:absolute;opacity:0;width:0;height:0;display:none;}

/* Label becomes the toggle track */
.apple-toggle-wrap label{width:60px;height:30px;display:inline-block;background:#e6e6e6;border-radius:30px;position:relative;cursor:pointer;transition:background 0.2s ease;box-sizing:border-box;padding:4px; /* spacing for thumb */}

/* Thumb */
.apple-toggle-wrap label::after{content:"";width:22px;height:22px;background:#fff;border-radius:50%;position:absolute;top:50%;left:4px;transform:translateY(-50%);box-shadow:0 2px 4px rgba(0,0,0,0.15);transition:transform 0.2s cubic-bezier(.2,.9,.3,1);}

/* Checked state */
.apple-toggle-wrap .checkbox:checked + label{background:#15994B; /* iOS green */}
.apple-toggle-wrap .checkbox:checked + label::after{transform:translate(30px,-50%);  /* 46 - 22 - 6 (pads) = 18 */}

/* Focus ring for keyboard users */
.apple-toggle-wrap .checkbox:focus + label{box-shadow:0 0 0 4px rgba(52,199,89,0.15);outline:none;}

/* Disabled state */
.apple-toggle-wrap .checkbox:disabled + label{opacity:0.45;cursor:not-allowed;}
.recurr-timing-content{display:none;margin-top: 20px;}

/* apple toggle end */


.login-form-forpass-link-undderline {text-decoration: underline !important;}
.popup-form-main-group {
    border: 1px solid var(--theme-gray3);
    border-radius: 15px;
    padding: 20px;
}

/*===============================================================================
    Login
=================================================================================*/


.login-sec-left-con{padding:0 0;height:100%;position:relative;}
.login-sec-left-wrap-m{width:100%;height:100%;background-color:#F4E1D7 ;position:relative;}
.login-sec{height:100vh;display:flex;}
.login-sec-logo{display:table-cell;vertical-align:middle;text-align:center;}
.login-sec-logo img{width:100%;object-fit:contain;object-position:center;max-width:750px;}
.login-logo {margin-bottom: 80px;}
.whole-logo {width:100%;object-fit:contain;object-position:center;max-width: 200px;}
.login-sec-left-wrap{width:100%;height:100%;display: flex;justify-content: center;align-items: center;}
.ft-links{display:flex;flex-wrap:wrap;justify-content:center;margin:0px;}
.ft-links a{font-size:16px;color:#000;font-weight:500;}
.password-icon .form-control{padding-right:40px!important;}
.ft-links li{padding:0px 10px;}
.ft-links a:hover{color:var(--theme-primary);}
.login-sec-row{height:100%;overflow: hidden;}
.login-sec-right-con{height:100vh;overflow: auto;width: 100%;padding: 65px;position: relative; background: var(--theme-body);box-shadow:-3px 0 24px rgba(0,0,0,0.15);}
.login-sec-right-wrap-h{width:100%;display: flex;align-items: center;min-height: 100%;}
.login-sec-right-main{max-width: 510px;height: auto;display: flex;align-items: center;width: 100%;margin: 0px auto;
    /* padding: 20px 0px 40px; */
}
.login-cform-main{width: 100%;}
.login-cform-main p{font-size:16px;line-height:1.5;color: var(--theme-gray2);}
.login-form-btn-wrap.logo-form-wid .graytext {color: var(--theme-gray1);}
.login-cform-main h1{font-weight:700;}
.logo-form-wid{max-width:510px;margin-left:auto;margin-right:auto;width:100%;}
.login-form{padding-top:45px;display:flex;flex-direction:column;margin: 0 auto;max-width: 510px;}
.login-form-forpass-link{color:var(--theme-primary);font-size:14px;margin-bottom: 30px;}
.login-form-forpass-link:hover{color:var(--theme-primary);}
.login-form-btn-wrap{margin-top:auto;}
.login-btn-link.btn.btn-outline { border-radius: 12px; }
svg.login-btn-icon path {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.login-btn-link.btn.btn-black{border-radius: 12px;}
.rightleft-line { margin: 0px auto; text-align: center; position: relative; width: 100%; padding: 10px 55px; }
.rightleft-line:before { content: ''; height: 1px; background: var(--theme-gray3); left: 0px; top: 50%; right: 0px; display: block; position: absolute; transform: translateY(-50%); z-index: 0; }
.rightleft-line span { display: inline-block; background: var(--theme-body);font-size: 16px;color: #A2A2A2; padding: 5px 20px; position: relative; z-index: 1; font-weight: 300;}
.code-input { max-width: 120px; height: 48px;width: 100%; border: 1px solid #9EA1A8; border-radius: 12px; text-align: center; font-size: 14px; font-weight: 400; color: #121A2C; background: var(--theme-background);margin-right: 10px; transition: all 0.3s ease; }
.code-input:last-child {margin-right: 0;}
.verification-code-inputs { display: flex; flex-wrap: nowrap; align-items: center;margin-bottom: 10px; }
/* .login-btn-link.btn.btn-black:hover{color: #FFFFFF;} */
span.login-btn-link-text {line-height: 20px;}
.login-btn-col.g-logo .login-btn-link-text,
.login-btn-col.apple-logo .login-btn-link-text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -1px;
}

/* setup-account screen */
.option-box {
    border: 1px solid #D8DADC;
    border-radius: 12px;
    overflow: hidden;
    padding: 18px 16px;
}

.option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.option-item input {
    display: none;
}

.option-item .content p {
    color: var(--theme-gray2);
}

.checkmark {
    width: 22px;
    height: 22px;
    border: 1.5px solid #D8DADC;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    /* justify-content: center;
    align-items: center; */
    flex-shrink: 0;
}

.checkmark::after {
    content: "";
    width: 12px;
    height: 12px;
    background: #c47a4a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease;
}

.option-item input:checked~.checkmark {
    border-color: #c47a4a;
}

.option-item input:checked~.checkmark::after {
    transform: translate(-50%, -50%) scale(1);
}

/* setup-starter-tag screen */

.form-group .set-form-title {
    font-size: 14px;
    margin-bottom: 15px;
}

.option-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-item input {
    display: none;
}

.tag-item span {
    display: inline-block;
    align-items: center;
    padding: 6px 12px;
    border: 1px solid var(--theme-gray3);
    border-radius: 20px;
    font-size: 14px;
    color: var(--theme-gray2);
    cursor: pointer;
    transition: .4s ease;
    background: var(--theme-background);
}

.tag-item span:hover {
    border-color: var(--theme-primary);
    color: var(--theme-primary);
}

.tag-item input:checked+span {
    background: var(--theme-primary);
    color: var(--theme-background);
    border-color: var(--theme-primary);
}

/* setup-starter-tag screen */
.starter-tag-wrap .fixed-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    padding: 20px 0 30px;
    max-width: 100%;
}
.starter-tag-wrap{
    padding: 140px 40px 0;
}
.starter-tag-wrap .login-sec-right-main{
    max-width: 100%;
    width: 100%;
}
.starter-tag-wrap .login-sec-right-wrap-h{
    align-items: initial;
}
.starter-tag-wrap .login-cform-main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.starter-tag-wrap .logo-form-la.logo-form-wid{
    flex-grow: 1;
}
.starter-tag-wrap .login-form{
    height: 100%;
    max-width: 100%;
    width: 100%;
}


/* onboard-popup css */
.modal-pop { padding: 60px 30px; }
.modal-dialog { display: flex; align-items: center; justify-content: center; }
.carousel-item img { max-height: 350px; margin-bottom: 60px; }
.calender-img { margin-bottom: 20px !important;}
.custom-arrow {
    width: 46px;
    height: 46px;
    background: var(--theme-primary);
    border-radius: 50%;
    top: 85%;
    transform: translateY(-50%);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
}
.carousel-control-prev { left: 30px; }
.carousel-control-next { right: 30px; }
.carousel-control-prev,
.carousel-control-next { background: var(--theme-primary); transition: all 0.3s ease; }
.carousel-control-prev.disabled,
.carousel-control-next.disabled { opacity: 0.5; pointer-events: none; }
.carousel-control-prev.disabled svg path,
.carousel-control-next.disabled svg path { fill: var(--theme-background); }
.modamodal-pop-l-slide h5 { color: var(--theme-background); transition: all 0.4s ease; }
.modal-pop-l-slide { background: var(--theme-primary); }
.skip-btn-main .skip-btn { position: absolute !important; color: var(--theme-primary); z-index: 5; right: 30px; top: 40px; font-size: 18px; }
.carousel-item .finish-text { max-width: 750px; margin: 0 auto; color: var(--theme-background); }
.onboarding-screens-main { position: relative; overflow: hidden; min-height: 550px; }
.carousel-item { min-height: 450px;    
      /* display: flex;
      flex-direction: column;
      justify-content: center; */
    }
.custom-indicators {
    position: absolute;
    /* bottom: 140px; */
    left: 50%;
    top: calc(100% - 155px);
    transform: translateX(-50%);
    margin: 0;
}
.custom-indicators button { width: 6px; height: 6px; border-radius: 50px; background-color: #E3BDA6; border: none; margin: 0 3px; transition: all 0.4s ease; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease; }
.custom-indicators button.active { width: 18px; background-color: var(--theme-primary); }

.custom-arrow:hover{
    opacity: 1;
    background-color: var(--hover-primary-btn);
}
.wrap-content-slide {
    max-width: calc(100% - 100px);
    margin: 0 auto;
}
.onboarding-modal.fade .modal-dialog{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}



/*===============================================================================
    Profile Page
=================================================================================*/
.content-wrapper {
    overflow: hidden;
    margin-left: 300px;
    min-height: calc(100vh - 124px);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 124px;
    transition: margin-left .3s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -ms-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
}

.sidebar-show-hide .content-wrapper {
    margin-left: 120px;
}

.cm-layout{
    background-color: var(--theme-background);
}

.badge-text{
    display: inline-block;
    z-index: 1;
    position: relative;
    background-color: var(--theme-body);
    color: var(--theme-primary);
    font-weight: 400;
    line-height: 1.5;
    padding: 5px 12px;
    font-size: 12px;
    margin-bottom: 7px;
    margin-right: 6px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.badge-text:last-child{
    margin-right: 0;
}

.custom-tags-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.icon-box-style{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--LightBrown);
    padding: 4px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.icon-box-style img {
    padding: 4px;
}
.avatar-lg{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--theme-primary-light);
    color: var(--theme-primary);
    font-weight: 600;
    font-size: 18px;
    flex-shrink: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.avatar-lg span{
    padding: 6px;
}

.outside-sec-title{
    color: var(--sec-title);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.minidot{
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: var(--theme-icon);
    margin: 0 4px;
}

.arrow_icon {
    flex: 0 0 auto;
}

.dele-icon{
    background-color: #FFEBEA;
}

.p-user-info h2{
    display: inline-flex;
    align-items: center;
}

.profile-h-main .avatar-lg span{
    font-size: 36px;
}
.edit-profile-btn button {
    min-width: auto;
    padding: 12px 20px;
}
.edit-profile-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.profile-h-main {
    position: relative;
    overflow: hidden;
}
.manage-btn .btn{
    padding: 8px 20px;
    margin: 4px 0;
    min-width: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.greadient-brown{
    background: linear-gradient(150deg, #9D4300 0%, #C67C4E 100%);
    box-shadow: 
    0px 3.67px 5.5px -3.67px rgba(157, 67, 0, 0.2),
    0px 9.17px 13.75px -2.75px rgba(157, 67, 0, 0.2);
}
.premium-plan-info {
    display: flex;
    align-items: center;
    text-align: start;
}
.p-user-info {
    width: 100%;
    padding-right: 150px;
}

.notification-page hr:last-of-type,
.settings-item-group hr:last-of-type {
    display: none;
}
.premium-plan-info .sub_text_color {
    letter-spacing: 0.4px;
}
.settings-item {
    gap: 15px;
}   
.s-middle-text {
    flex: 1;
}
.cm-tags-js .more-badge{
    cursor: pointer;
}
.cm-tags-js .extra-badge {
    display: none;
}

/* Common Modal Styles */
.common-modal .modal-header-cm .modal-header {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
.common-modal .modal-body{
    padding: 30px 0 30px;
}

/* pop-up css */
.profile-user-p {margin-bottom: 14px;}
.profile-user-p span {font-size: 34px;font-weight: 700;}



/*===============================================================================
    Notification Page
=================================================================================*/

.notifi-lg {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--theme-primary-light);
    color: var(--theme-primary);
    flex-shrink: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.no-time {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.notification-h-main {
    background-color: rgba(198, 124, 78, 0.05);
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 16px;
}
 
.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
 
.unread-badge {
    background: var(--theme-primary-light);
    color: var(--theme-primary);
    padding: 4px 11px;
    border-radius: 23px;
    font-size: 12px;
    font-weight: 700;
}
 
.mark-all-read {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.notification-page {
    margin-bottom: 20px;
}



/*===============================================================================
    Trash Page
=================================================================================*/
.search-input .form-control.border{
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 16px;
    padding: 12px 16px 12px 46px;
    height: auto;
    border-color: transparent !important;
}
.search-input .form-control.border:focus{
    border-color: var(--theme-primary) !important;
}
.search-input .form-control.border::placeholder,
.search-input .form-control.border::-moz-placeholder,
.search-input .form-control.border:-ms-input-placeholder,
.search-input .form-control.border::-webkit-input-placeholder,
.search-input .form-control.border::-o-input-placeholder{
    color: var(--theme-gray1);
    font-weight: 500;
}
.search-input {
    max-width: 400px;
}
.trash-page .main-card-footer{
    display: flex;
    align-items: center;
}
.main-card{
    overflow: hidden;
    position: relative;
    border: 1px solid var(--theme-gray3);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-card-body{
    flex-grow: 1;
}
.main-card-content {
    flex-grow: 1;
}
.date-range{
    font-size: 12px;
    color: var(--theme-icon);
    font-weight: 300;
    margin-bottom: 10px;
}
.deleted-badge{
    font-size: 12px;
    color: var( --theme-delete-red);
    background-color: rgba(255, 59, 48, 0.15);
    font-weight: 400;
    border-radius: 6px;
    padding: 7px 6px;
}
.priority-badge{
    display: inline-block;
    font-size: 12px;
    color: var( --theme-delete-red);
    background-color: rgba(255, 59, 48, 0.15);
    font-weight: 400;
     border-radius: 6px;
    padding: 5px 7px;
}
.category-label{
    color: var(--theme-primary);
    font-size: 14px;
    font-weight: 400;
}
.trash-page .main-card-body {
    display: flex;
    align-items: start;
    gap: 8px;
}
.main-card-title{
    padding-bottom: 5px;
}
.user-tag{
    display: inline-block;
    z-index: 1;
    position: relative;
    background-color: #EFEEF0;
    color: var(--theme-gray1);
    font-weight: 400;
    line-height: 1.5;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 8px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.user-tag:last-child{
    margin-right: 0;
}
.user-tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 0;
}
.task-name, .task-status {
    font-size: 14px;
    color: var(--theme-gray1);
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.task-status {
    width: max-content;
    flex-shrink: 0;
    justify-content: end;
}
.task-name {
    min-width: 0;
    flex: 1;
}

.status-icon{
    width: 14px;
    height: 14px;
}
.card-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.card-info-wrap .card-info-item:last-child {
    margin-bottom: 0;
}
.card-menu-wrap {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
}
.menu_btn{
    background-color: transparent;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
     transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.menu_btn:hover {
    background-color: var(--theme-gray3);
}
.card-dropdown {
    display: none;
    position: absolute;
    right: 6px;
    top: 22px;
    min-width: 184px;
    background-color: var(--theme-background);
    border-radius: 14px;
    z-index: 2;
    padding: 10px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.15)
}
.card-dropdown.open {
    display: block;
}
.card-dropdown .dropdown-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 6px 6px;
    margin-bottom: 4px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.card-dropdown .dropdown-item:last-child{
    margin-bottom: 0;
}   
.card-dropdown .dropdown-item.delete-btn{
    color: var( --theme-del-dark-red);
}
.card-dropdown .dropdown-item:hover {
    background-color: var(--theme-body);
}
.c-wrap-title-date {
    padding-right: 30px;
}
.main-card-body .card-info-item .wh-fix{
    padding-right: 12px;
    flex: 1;
    min-width: 0;
}