/* Website Global CSS
========================================================== */
body,
html {
    height: 100%;
}

body {
    background-color: var(--theme-body);
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: var(--theme-text-color);
    text-transform: none;
}
:root{
    --theme-body:#F9F9F9;
    --theme-background:#FFFFFF;
    --theme-black: #000000;
    --theme-primary:#C67C4E;
    --theme-text-color: #161212;

    --theme-secondary-btn: #E4E4E4;
    --theme-secondary-hov: #C3C3C3;

    --theme-red: #E8593C;

    --theme-gray1: #808080;
    --theme-gray2: #4D4D4D;
    --theme-gray3: #D8DADC;
    --theme-title: #242424;
    --theme-icon: #666666;
}

*,
html {
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--theme-text-color);
    display: inline-block;
}

/* Common color hyperlink */
a:hover,
a:active {
    color: var(--theme-primary);
    text-decoration: none;
}

/* Common hover color hyperlink */
a,
*:hover,
*:focus,
*:active :focus {
    text-decoration: none;
    outline: none !important;
    outline-offset: 0 !important;
}

a img,
img {
    border: none;
    outline: none !important;
    outline-offset: 0 !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

i {
    font-family: 'FontAwesome';
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    line-height: normal;
}

/* Transition Effect CSS */
a,
i,
input {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}

/* Browser Selection CSS */
::selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}

::-moz-selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}

::-webkit-selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}

::-o-selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}

::-ms-selection {
    background: var(--theme-primary);
    color: var(--theme-background);
}


::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: var(--theme-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-primary);
    -webkit-border-radius: 30px;
}

/* Only FireFox */
html {
    scrollbar-width: thin;
    scrollbar-border-radius: 30px;
}




/* Font Size Style CSS */

.fs-10{font-size:10px !important;}
.fs-12{font-size:12px !important;}
.fs-14{font-size:14px !important;}
.fs-16{font-size:16px !important;}
.fs-18{font-size:18px !important;}
.fs-20{font-size:20px !important;}
.fs-22{font-size:22px !important;}
.fs-26{font-size:26px !important;}


/* Font Weight Style CSS */

.fw-normal{font-weight:200;}
.fw-medium{font-weight:500;}
.fw-semibold{font-weight:600;}
.fw-bold{font-weight:700;}


/* Font Color Style CSS  */

.text-primary {color: var(--theme-primary) !important;}
.text_title { color: var(--theme-title) !important; }
.text_gray1 { color: var(--theme-gray1) !important; }
.text_gray2 { color: var(--theme-gray2) !important; }
.text_gray3 { color: var(--theme-gray3) !important; }
.text_body { color: var(--theme-body) !important; }
.text_white { color: var(--theme-background) !important; }
.text_black { color: var(--theme-black) !important; }
.theme_color { color: var(--theme-text-color) !important; }
.text_icon { color: var(--theme-icon) !important; }
.text_red { color: var(--theme-red) !important; }

.bg-primary { background-color: var(--theme-primary) !important; }
.bg_title { background-color: var(--theme-title) !important; }
.bg_gray1 { background-color: var(--theme-gray1) !important; }
.bg_gray2 { background-color: var(--theme-gray2) !important; }
.bg_gray3 { background-color: var(--theme-gray3) !important; }
.bg_body { background-color: var(--theme-body) !important; }
.bg_white { background-color: var(--theme-background) !important; }
.bg_black { background-color: var(--theme-black) !important; }
.bg_icon { background-color: var(--theme-icon) !important; }
.bg_red { background-color: var(--theme-red) !important; }


.bg-secondary-btn { background-color: var(--theme-secondary-btn) !important; }
.bg-secondary-btn:hover { background-color: var(--theme-secondary-hov) !important; }



/* Heading Style CSS
=================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'SF Pro Display', sans-serif;
    line-height: 1.2;
    font-weight: bold;
    color: var(--theme-title);
}

h1,.h1 { font-size:32px; }
h2,.h2 { font-size:26px; }
h3,.h3 { font-size:24px; }
h4,.h4 { font-size:20px; }
h5,.h5 { font-size:18px; }  
h6,.h6 { font-size:16px; }

p {
    line-height: 1.5;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--theme-gray1);
    margin-bottom: 15px;
}


/* Image Style CSS 
=================================================== */
img { margin-bottom:0; } 


/* Linedivider Style CSS BOF
=================================================== */  
.hr_line {
    border-top: 1.5px dashed var(--theme-gray3);
    width: 100%;
    opacity: 1;
}

hr {
    border-bottom: 2px dashed var(--theme-gray3);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-top: 0;
    opacity: 1;
}

.hr {
    border-bottom: 2px dashed var(--theme-gray3);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-top: 0;
    opacity: 1;
}

.hr-fill {
    margin-right: -16px;
    margin-left: -16px;
}

.br5{border-radius:5px;}        
.br10{border-radius:10px;}
.br12{border-radius:12px;}
.br14{border-radius:14px;}
.br15{border-radius:15px;}
.br16{border-radius:16px;}
.br18{border-radius:18px;}
.br20{border-radius:20px;}
.br30{border-radius:30px;}
.br38{border-radius:38px;}
.br34{border-radius:34px;}
.br45{border-radius:45px;}
.rounded-tr-0{border-top-right-radius:0 !important;}


/* Button Style CSS
=================================================== */  
.btn {
    background-color: var(--theme-primary);
    padding: 12px 16px 10px 16px;
    border: 1px solid var(--theme-primary);
    color: var(--theme-background);
    font-size: 16px;
    font-weight: 500;
    font-family: 'SF Pro Display', sans-serif;
    transition: all .4s ease-in-out 0s;
    -moz-transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    text-transform: capitalize;
    box-shadow: none;
    min-width: 200px;
    text-align: center;
    cursor: pointer !important;
}

.btn.btn-outline {
    border: 1px solid var(--theme-title);
    background-color: transparent;
    color: var(--theme-title);
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.btn.btn-gray {
    background-color: #B4B4B4;
    border-color: #ECECEC;
    color: var(--theme-background);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.btn.btn-black {
    border-color: rgba(216, 218, 220, 1);
    background-color: transparent;
    color: var(--theme-title);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.btn:disabled,
.btn.disabled {
    color: var(--theme-background) !important;
    background-color: #B4B4B4 !important;
    border-color: #B4B4B4 !important;
}

.btn.btn-outline.disabled {
    color: var(--theme-text-color) !important;
    background-color: transparent !important;
    border-color: var(--theme-title) !important;
}

.btn.btn-gray.disabled {
    color: var(--theme-text-color) !important;
    background-color: #ECECEC !important;
    border-color: #ECECEC !important;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

.btn.btn-outline-bs:hover,
.btn.btn-outline-bs:focus,
.btn.btn-outline-bs:active {
    background-color: var(--theme-primary) !important;
    border-color: var(--theme-primary) !important;
}

.btn.btn-black:hover svg path,
.btn.btn-black:focus svg path,
.btn.btn-black:active svg path {
    fill: var(--theme-background);
}

.btn.btn-gray:hover,
.btn.btn-gray:focus,
.btn.btn-gray:active {
    background-color: #525252;
    border-color: #525252;
    color: #fff;
}

.btn-unstyled {
    background-color: transparent;
    padding: 5px 20px;
}


.btn.btn-gray1 {
    background-color: #F5F7F9;
    border-color: var(--theme-secondary-btn);
    color: #555555;
}

.btn.btn-gray1:hover,
.btn.btn-gray1:focus,
.btn.btn-gray1:active {
    background-color: var(--theme-secondary-btn);
    border-color: #F5F7F9;
    color: #555555;
}

.btn.btn-primary {
    background-color: var(--theme-primary);
    border-color: var(--theme-primary);
    font-size: 16px;
    color: var(--theme-background);
    min-width: auto !important;
    padding: 8px 16px 7px 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 56px;
    border-radius: 12px;
}
.btn-primary-hover{
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.btn-primary-hover:hover{
  color: #525252!important;
}

/* Hover CSS */
.btn:hover,.btn:focus,.btn:active{background:var(--theme-text-color)!important;color:var(--theme-background)!important;box-shadow:none;outline:none;border-color:var(--theme-text-color)!important;}
.btn.btn-outline:hover,.btn.btn-outline:focus,.btn.btn-outline:active{background:var(--theme-title)!important;color:var(--theme-background)!important;border-color:var(--theme-title)!important;}

.btn.btn-outline-bs:hover svg path,.btn.btn-outline-bs:focus svg path,.btn.btn-outline-bs:active svg path{fill:var(--theme-background);}
.btn-unstyled:hover{color:var(--theme-primary);}


.offcanvas-btn.btn{font-size:16px;font-weight:500;padding:13px 25px;min-width:auto;border-radius:12px;}
.offcanvas-btn1.btn{font-size:14px;padding:8px 32px;border-radius:30px;min-width: auto;}
.btn-100{width: 100%;}

.btn-full{display:flex;flex-direction:column;}




/* Form & Input Style 
==================================================== */ 
textarea.form-control { padding-right:5px; resize:none; overflow:auto; height:90px; }    

/* Label CSS */
label.form-label {font-size: 14px;color: var(--theme-title);margin-bottom: 10px;} 
.dropdown-item.active,.dropdown-item:active{background-color:inherit!important;color:inherit!important;}
    
/* Password Icon Start */
.password-icon i{color: var(--theme-title);font-size:18px;cursor:pointer;position:absolute;right: 15px;top: 0;bottom: 0;margin: auto;height: 18px;}
.password-icon{position:relative;}

.form-group{margin-bottom:30px;position:relative;}
.form-control[disabled] {opacity: 0.5; }
.form-control.border {background-color:transparent;border: 2px solid #ECECEC !important;border-radius: 12px;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;font-size: 16px;color:var(--theme-gray1);-webkit-appearance: none;font-family: 'SF Pro Display', sans-serif;font-weight: normal;padding:18px 16px;height: 56px;} 

/* Focus State CSS */
.form-control.border:focus,.form-select.border:focus {box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;border-color:var(--theme-primary)!important;}

/* Placeholder CSS */
.form-control.border::placeholder{color:var(--theme-title);font-weight:normal;font-size:14px;}
.form-control.border::-moz-placeholder{color:var(--theme-title);font-weight:normal;font-size:14px;}
.form-control.border:-ms-input-placeholder{color:var(--theme-title);font-weight:normal;font-size:14px;}
.form-control.border::-webkit-input-placeholder{color:var(--theme-title);font-weight:normal;font-size:14px;}
.form-control.border::-o-input-placeholder{color:var(--theme-title);font-weight:normal;font-size:14px;}
textarea.form-control.border{height:90px;}

input::-webkit-autofill,
input::-webkit-autofill:hover,
input::-webkit-autofill:focus,
textarea::-webkit-autofill,
textarea::-webkit-autofill:hover,
textarea::-webkit-autofill:focus,
select::-webkit-autofill,
select::-webkit-autofill:hover,
select::-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--theme-background) inset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield !important;
}




/*
| ========================================================
| Custom Utility Classes CSS 
| ========================================================
*/

.page-wrapper { margin:0px auto; }
.text-underline{ text-decoration: underline !important; }
.text-capitalize{ text-transform: capitalize !important; }
.text-uppercase{ text-transform: uppercase !important; }
.display-none{ display: none !important; }
.table-responsive { scrollbar-width: thin; }
.custom-table-main td{word-break:break-word;}
.no-scroll { overflow: hidden; }


/* Spacing Classes */
.p-14{padding:14px;}


/* Custom Width Classes */
.width-p-1{width:1%;}
.width-p-2{width:2%;}
.width-p-5{width:5%;}
.width-p-10{width:10%;}
.width-p-15{width:15%;}
.width-p-20{width:20%;}
.width-p-25{width:25%;}
.width-p-30{width:30%;}
.width-p-35{width:35%;}
.width-p-40{width:40%;}
.width-p-45{width:45%;}
.width-p-50{width:50%;}
.width-p-55{width:55%;}
.width-p-60{width:60%;}
.width-p-65{width:65%;}
.width-p-70{width:70%;}
.width-p-75{width:75%;}
.width-p-80{width:80%;}
.width-p-85{width:85%;}
.width-p-90{width:90%;}
.width-p-95{width:95%;}
.width-p-100{width:100%;}


.min-width-210{min-width:210px;}
.min-width-100{min-width:100px;}
.min-width-130{min-width:130px;}
.min-width-150{min-width:150px;}


.mx-100{max-width:100%!important;}
.minw-auto{min-width:auto!important;}






/* apple toggle start */

/* Hide native checkbox */
.apple-toggle-wrap .checkbox{position:absolute;opacity:0;width:0;height:0;display:none;}

/* Label becomes the toggle track */
.apple-toggle-wrap label{width:60px;height:30px;display:inline-block;background:#e6e6e6;border-radius:30px;position:relative;cursor:pointer;transition:background 0.2s ease;box-sizing:border-box;padding:4px; /* spacing for thumb */}

/* Thumb */
.apple-toggle-wrap label::after{content:"";width:22px;height:22px;background:#fff;border-radius:50%;position:absolute;top:50%;left:4px;transform:translateY(-50%);box-shadow:0 2px 4px rgba(0,0,0,0.15);transition:transform 0.2s cubic-bezier(.2,.9,.3,1);}

/* Checked state */
.apple-toggle-wrap .checkbox:checked + label{background:#15994B; /* iOS green */}
.apple-toggle-wrap .checkbox:checked + label::after{transform:translate(30px,-50%);  /* 46 - 22 - 6 (pads) = 18 */}

/* Focus ring for keyboard users */
.apple-toggle-wrap .checkbox:focus + label{box-shadow:0 0 0 4px rgba(52,199,89,0.15);outline:none;}

/* Disabled state */
.apple-toggle-wrap .checkbox:disabled + label{opacity:0.45;cursor:not-allowed;}
.recurr-timing-content{display:none;margin-top: 20px;}

/* apple toggle end */





/*===============================================================================
    Login
=================================================================================*/


.login-sec-left-con{padding:0 0;height:100%;position:relative;}
.login-sec-left-wrap-m{width:100%;height:100%;background-color:#F4E1D7 ;position:relative;}
.login-sec{height:100vh;display:flex;}
.login-sec-logo{display:table-cell;vertical-align:middle;text-align:center;}
.login-sec-logo img{width:100%;object-fit:contain;object-position:center;max-width:750px;}
.login-logo {margin-bottom: 80px;}
.whole-logo {width:100%;object-fit:contain;object-position:center;max-width: 200px;}
.login-sec-left-wrap{width:100%;height:100%;display: flex;justify-content: center;align-items: center;}
.ft-links{display:flex;flex-wrap:wrap;justify-content:center;margin:0px;}
.ft-links a{font-size:16px;color:#000;font-weight:500;}
.password-icon .form-control{padding-right:40px!important;}
.ft-links li{padding:0px 10px;}
.ft-links a:hover{color:var(--theme-primary);}
.login-sec-row{height:100%;overflow: hidden;}
.login-sec-right-con{height:100vh;overflow: auto;width: 100%;padding: 65px;position: relative; background: var(--theme-body);box-shadow:-3px 0 24px rgba(0,0,0,0.15);}
.login-sec-right-wrap-h{width:100%;display: flex;align-items: center;min-height: 100%;}
.login-sec-right-main{max-width: 510px;height: auto;display: flex;align-items: center;width: 100%;margin: 0px auto;
    /* padding: 20px 0px 40px; */
}
.login-cform-main{width: 100%;}
.login-cform-main p{font-size:16px;line-height:1.5;color: var(--theme-title);}
.login-form-btn-wrap.logo-form-wid .graytext {color: var(--theme-gray1);}
.login-cform-main h1{font-weight:700;}
.logo-form-wid{max-width:510px;margin-left:auto;margin-right:auto;width:100%;}
.login-form{padding-top:45px;display:flex;flex-direction:column;margin: 0 auto;max-width: 510px;}
.login-form-forpass-link{color:var(--theme-primary);font-size:16px;margin-bottom: 30px;}
.login-form-forpass-link:hover{color:var(--theme-primary);}
.login-form-btn-wrap{margin-top:auto;}
.login-btn-link.btn.btn-outline { border-color: rgba(216, 218, 220, 1); border-radius: 12px; }
.login-btn-link.btn.btn-black{border-radius: 12px;}
.rightleft-line { margin: 0px auto; text-align: center; position: relative; width: 100%; padding: 10px 55px; }
.rightleft-line:before { content: ''; height: 1px; background: var(--theme-gray3); left: 0px; top: 50%; right: 0px; display: block; position: absolute; transform: translateY(-50%); z-index: 0; }
.rightleft-line span { display: inline-block; background: var(--theme-body);font-size: 16px;color: #A2A2A2; padding: 5px 20px; position: relative; z-index: 1; }
.code-input { max-width: 120px; height: 48px;width: 100%; border: 1px solid #9EA1A8; border-radius: 12px; text-align: center; font-size: 14px; font-weight: 400; color: #121A2C; background: var(--theme-background);margin-right: 10px; transition: all 0.3s ease; }
.code-input:last-child {margin-right: 0;}
.verification-code-inputs { display: flex; flex-wrap: nowrap; align-items: center;margin-bottom: 10px; }
/* .login-btn-link.btn.btn-black:hover{color: #FFFFFF;} */
span.login-btn-link-text {line-height: 20px;}
.login-btn-col.g-logo .login-btn-link-text,
.login-btn-col.apple-logo .login-btn-link-text {
    font-size: 16px;
    font-weight: 500;
}

/* setup-account screen */
.option-box {
    border: 1px solid #D8DADC;
    border-radius: 12px;
    overflow: hidden;
    padding: 18px 16px;
  }
  
  .option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
  }
  
  .option-item input {
    display: none;
  }
  
  .option-item .content p {
    color: #4D4D4D;
  }
  
  .checkmark {
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .option-item input:checked + .content + .checkmark {
    background: #c47a4a;
    border-color: #c47a4a;
  }
  
  
  .option-item input:checked + .content {
    color: #000;
  }