/* 01 : Website Global CSS BOF
========================================================== */
body,html {height: 100%;}
body { background-color:#F9F9F9; font-family: 'SF Pro Display', sans-serif; font-weight:400; font-size:14px; line-height:normal; color:#161212;  text-transform: none;}  
:root{
    --theme-body:#F9F9F9;
    --theme-background:#FFFFFF;
    --theme-primary:#C67C4E;
    --theme-black: #000000;
    --theme-secondary-btn: #E4E4E4;
    --theme-secondary-hov: #C3C3C3;
    

    /* text-colors */
    --text-primary: #C67C4E;
    --text-white: #FFFFFF;
    --text-black: #000000;
    --text-red: #E8593C;
    --text-gray: #242424;
    --text-gray1: #808080;
    --text-gray2: #4D4D4D;
    --text-gray3: #D8DADC;
    --text-title: #242424;
    --text-icon: #666666;

}
*, html { margin:0px; padding:0px;  }
a { color:#161212; display: inline-block;} /* Common color hyperlink */
a:hover, a:active { color:var(--text-primary); text-decoration:none; } /* Common hover color hyperlink */
a, *:hover, *:focus, *:active :focus { text-decoration:none; outline:none !important; outline-offset:0 !important; }
a img, img { border:none; outline:none !important; outline-offset:0 !important; }
ul { list-style:none; margin:0; padding:0; } 
i { font-family:'FontAwesome'; }
img { height:auto; max-width:100%; vertical-align: middle; line-height:normal; }

/* Transition Effect CSS BOF */
a, i, input { transition: all 0.4s ease-in-out 0s; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; 
    -o-transition:all 0.4s ease-in-out 0s; -ms-transition:all 0.4s ease-in-out 0s; }

/* Browser Selection CSS BOF */
::selection { background:var(--theme-primary); color:#ffffff; } ::-moz-selection { background:var(--theme-primary); color:#ffffff; } 
::-webkit-selection { background:var(--theme-primary); color:#ffffff; } ::-o-selection { background:var(--theme-primary); color:#ffffff; } 
::-ms-selection { background:var(--theme-primary); color:#ffffff;  }

/* 02 : Global Classes CSS BOF
==================================================== */ 


::-webkit-scrollbar{width: 6px; height: 4px; background: #ffffff; }
::-webkit-scrollbar-thumb{ background-color: var(--theme-primary); -webkit-border-radius:30px;  }
/* Only FireFox */
html{scrollbar-width:thin;scrollbar-border-radius:30px;}
.table-responsive{scrollbar-width:thin;}

.fw-normal{font-weight:200;}
.fw-medium{font-weight:500;}
.fw-semibold{font-weight:600;}
.fw-bold{font-weight:700;}

.p-14{padding:14px;}



/* Background &amp; Color Style CSS BOF
=================================================== */




/* Font Size Style CSS BOF */

.fs-10{font-size:10px !important;}
.fs-12{font-size:12px !important;}
.fs-14{font-size:14px !important;}
.fs-16{font-size:16px !important;}
.fs-18{font-size:18px !important;}
.fs-20{font-size:20px !important;}
.fs-22{font-size:22px !important;}
.fs-26{font-size:26px !important;}




/* Font Color Style CSS BOF */

.text-primary {color: var(--text-primary) !important;}
/* Background Color Style CSS BOF */




/* 03 : Heading Style CSS BOF
=================================================== */
h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'SF Pro Display', sans-serif; line-height:1.2; font-weight:bold; color:#242424;}

h1,.h1 { font-size:32px; }
h2,.h2 { font-size:26px; }
h3,.h3 { font-size:24px; }
h4,.h4 { font-size:20px; }
h5,.h5 { font-size:18px; }  
h6,.h6 { font-size:16px; }



/* 04 : Paragraph Style CSS BOF
=================================================== */
p { line-height:1.5; font-family: 'SF Pro Display', sans-serif; font-size: 16px; font-weight: normal; color:#808080; margin-bottom: 15px;}

/* 05 : Image Style CSS BOF
=================================================== */
img { margin-bottom:0; } /*margin-bottom:5px*/

/* 08 : Linedivider Style CSS BOF
=================================================== */  
.hr_line{border-top:1.5px dashed #D8DADC;width:100%;opacity:1;}

hr{border-bottom:2px dashed #D8DADC;margin-top:20px;margin-bottom:20px;width:100%;border-top:0;opacity:1;}

.hr{border-bottom:2px dashed #D8DADC;margin-top:20px;margin-bottom:20px;width:100%;border-top:0;opacity:1;}
.hr-fill{margin-right: -16px; margin-left: -16px;}

.br5{border-radius:5px;}        
.br10{border-radius:10px;}
.br12{border-radius:12px;}
.br14{border-radius:14px;}
.br15{border-radius:15px;}
.br16{border-radius:16px;}
.br18{border-radius:18px;}
.br20{border-radius:20px;}
.br30{border-radius:30px;}
.br38{border-radius:38px;}
.br34{border-radius:34px;}
.br45{border-radius:45px;}
.rounded-tr-0{border-top-right-radius:0 !important;}


.no-scroll {
    overflow: hidden;
}

/* 10 : Button Style CSS BOF
=================================================== */  

.btn{background-color:var(--theme-primary);padding:12px 16px 10px 16px;border:1px solid #C67C4E;color:#ffffff;font-size:16px;font-weight:500;font-family: 'SF Pro Display', sans-serif;transition:all .4s ease-in-out 0s;-moz-transition:all .4s ease-in-out 0s;-webkit-transition:all .4s ease-in-out 0s;-o-transition:all .4s ease-in-out 0s;text-transform:capitalize;box-shadow:none;min-width:200px;text-align:center;cursor: pointer !important;}
/* .btn.btn-primary */
.btn.btn-outline{border:1px solid #242424;background-color:transparent;color:#242424;font-size: 16px; display:inline-flex;justify-content:center;align-items:center;height: 52px;}
.btn.btn-gray{background-color:#B4B4B4;border-color:#ECECEC;color:#FFFFFF;display:inline-flex;justify-content:center;align-items:center;height: 52px;}
.btn.btn-black{border-color: rgba(216, 218, 220, 1);background-color:transparent;color:#242424;display:inline-flex;justify-content:center;align-items:center;height: 52px;}

.btn:disabled,
.btn.disabled {
    color: #ffffff !important;
    background-color: #B4B4B4 !important;
    border-color: #B4B4B4 !important;
}
.btn.btn-outline.disabled{
    color: #161212 !important;
    background-color: transparent !important;
    border-color: #242424 !important;
}
.btn.btn-gray.disabled{
    color: #161212 !important;
    background-color: #ECECEC !important;
    border-color: #ECECEC !important;
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

.btn.btn-outline-bs:hover,.btn.btn-outline-bs:focus,.btn.btn-outline-bs:active{background-color:var(--theme-primary)!important;border-color:#C67C4E!important;}
.btn.btn-black:hover svg path, .btn.btn-black:focus svg path, .btn.btn-black:active svg path{fill: #FFFFFF;}
.btn.btn-gray:hover,.btn.btn-gray:focus,.btn.btn-gray:active{background-color:#525252;border-color:#525252;color:#fff;}
.btn-unstyled{background-color:transparent;padding:5px 20px;}


.btn.btn-gray1{background-color:#F5F7F9;border-color:#E4E4E4;color:#555555;}
.btn.btn-gray1:hover,.btn.btn-gray1:focus,.btn.btn-gray1:active{background-color:#E4E4E4;border-color:#F5F7F9;color:#555555;}


.btn.btn-primary{background-color:var(--theme-primary);border-color:#C67C4E;font-size:16px;color:#FFFFFF;min-width:auto!important;padding:8px 16px 7px 16px;font-weight: 500;align-items: center;justify-content: center;display: flex;height: 56px;border-radius: 12px;}

.btn-primary-hover{
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.btn-primary-hover:hover{
  color: #525252!important;
}

/*** Buttton Varilation CSS BOF ***/

/* Hover State CSS BOF */
.btn:hover,.btn:focus,.btn:active{background:#161212!important;color:#fff!important;box-shadow:none;outline:none;border-color:#161212!important;}
.btn.btn-outline:hover,.btn.btn-outline:focus,.btn.btn-outline:active{background:#242424!important;color:#ffffff!important;border-color:#242424!important;}

.btn.btn-outline-bs:hover svg path,.btn.btn-outline-bs:focus svg path,.btn.btn-outline-bs:active svg path{fill:#fff;}
.btn-unstyled:hover{color:var(--text-primary);}


.offcanvas-btn.btn{font-size:16px;font-weight:500;padding:13px 25px;min-width:auto;border-radius:12px;}
.offcanvas-btn1.btn{font-size:14px;padding:8px 32px;border-radius:30px;min-width: auto;}
.btn-100{width: 100%;}

.btn-full{display:flex;flex-direction:column;}
.mx-100{max-width:100%!important;}
.minw-auto{min-width:auto!important;}


.tm-de-ghjuy-swejy .btn{margin-right:10px;padding-left:20px;padding-right:20px;font-weight:400;}


/* 11 : Form &amp; Input Style BOF
==================================================== */ 


textarea.form-control { padding-right:5px; resize:none; overflow:auto; height:90px; }    

/*** Label CSS BOF ***/
label.form-label {font-size: 14px;color: #242424;margin-bottom: 10px;} 


.dropdown-item.active,.dropdown-item:active{background-color:inherit!important;color:inherit!important;}
    

/*
| ========================================================
| INDEX PAGE CSS BOF
| ========================================================
*/

.page-wrapper { margin:0px auto; }
.text-underline{ text-decoration: underline !important; }
.text-capitalize{ text-transform: capitalize !important; }
.text-uppercase{ text-transform: uppercase !important; }
.display-none{ display: none !important; }

/* Password Icon Start */

.password-icon i{color: #242424;font-size:18px;cursor:pointer;position:absolute;right: 15px;top: 0;bottom: 0;margin: auto;height: 18px;}
.password-icon{position:relative;}

/* Password Icon End */



/* Calendar End */

.form-group{margin-bottom:30px;position:relative;}
.form-control.border {background-color:transparent;border: 2px solid #ECECEC !important;border-radius: 12px;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;font-size: 16px;color:#808080;-webkit-appearance: none;font-family: 'SF Pro Display', sans-serif;font-weight: normal;padding:18px 16px;height: 56px;} 

/*** Placeholder CSS BOF ***/
.form-control.border::placeholder{color:#242424;font-weight:normal;font-size:14px;}
.form-control.border::-moz-placeholder{color:#242424;font-weight:normal;font-size:14px;}
.form-control.border:-ms-input-placeholder{color:#242424;font-weight:normal;font-size:14px;}
.form-control.border::-webkit-input-placeholder{color:#242424;font-weight:normal;font-size:14px;}
.form-control.border::-o-input-placeholder{color:#242424;font-weight:normal;font-size:14px;}

.form-control[disabled] {opacity: 0.5; }

textarea.form-control.border{height:90px;}

 /* Focus State CSS BOF */
.form-control.border:focus,.form-select.border:focus {box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;border-color: #C67C4E !important;}



.width-p-1{width:1%;}
.width-p-2{width:2%;}
.width-p-5{width:5%;}
.width-p-10{width:10%;}
.width-p-15{width:15%;}
.width-p-20{width:20%;}
.width-p-25{width:25%;}
.width-p-30{width:30%;}
.width-p-35{width:35%;}
.width-p-40{width:40%;}
.width-p-45{width:45%;}
.width-p-50{width:50%;}
.width-p-55{width:55%;}
.width-p-60{width:60%;}
.width-p-65{width:65%;}
.width-p-70{width:70%;}
.width-p-75{width:75%;}
.width-p-80{width:80%;}
.width-p-85{width:85%;}
.width-p-90{width:90%;}
.width-p-95{width:95%;}
.width-p-100{width:100%;}






.min-width-210{min-width:210px;}
.min-width-100{min-width:100px;}
.min-width-130{min-width:130px;}
.min-width-150{min-width:150px;}







input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield !important;
}



.custom-table-main td{word-break:break-word;}

input::-webkit-autofill,input::-webkit-autofill:hover,input::-webkit-autofill:focus,textarea::-webkit-autofill,textarea::-webkit-autofill:hover,textarea::-webkit-autofill:focus,select::-webkit-autofill,select::-webkit-autofill:hover,select::-webkit-autofill:focus{-webkit-box-shadow:0 0 0px 1000px #ffffff inset!important;}




/* apple toggle start */

/* Hide native checkbox */
.apple-toggle-wrap .checkbox{position:absolute;opacity:0;width:0;height:0;display:none;}

/* Label becomes the toggle track */
.apple-toggle-wrap label{width:60px;height:30px;display:inline-block;background:#e6e6e6;border-radius:30px;position:relative;cursor:pointer;transition:background 0.2s ease;box-sizing:border-box;padding:4px; /* spacing for thumb */}

/* Thumb */
.apple-toggle-wrap label::after{content:"";width:22px;height:22px;background:#fff;border-radius:50%;position:absolute;top:50%;left:4px;transform:translateY(-50%);box-shadow:0 2px 4px rgba(0,0,0,0.15);transition:transform 0.2s cubic-bezier(.2,.9,.3,1);}

/* Checked state */
.apple-toggle-wrap .checkbox:checked + label{background:#15994B; /* iOS green */}
.apple-toggle-wrap .checkbox:checked + label::after{transform:translate(30px,-50%);  /* 46 - 22 - 6 (pads) = 18 */}

/* Focus ring for keyboard users */
.apple-toggle-wrap .checkbox:focus + label{box-shadow:0 0 0 4px rgba(52,199,89,0.15);outline:none;}

/* Disabled state */
.apple-toggle-wrap .checkbox:disabled + label{opacity:0.45;cursor:not-allowed;}
.recurr-timing-content{display:none;margin-top: 20px;}

/* apple toggle end */





/*===============================================================================
    Login
=================================================================================*/


.login-sec-left-con{padding:0 0;height:100%;position:relative;}
.login-sec-left-wrap-m{width:100%;height:100%;background-color:#F4E1D7 ;position:relative;}
.login-sec{height:100vh;display:flex;}
.login-sec-logo{display:table-cell;vertical-align:middle;text-align:center;}
.login-sec-logo img{width:100%;object-fit:contain;object-position:center;max-width:750px;}
.login-logo {margin-bottom: 80px;}
.whole-logo {width:100%;object-fit:contain;object-position:center;max-width: 200px;}
.login-sec-left-wrap{width:100%;height:100%;display: flex;justify-content: center;align-items: center;}
.ft-links{display:flex;flex-wrap:wrap;justify-content:center;margin:0px;}
.ft-links a{font-size:16px;color:#000;font-weight:500;}
.password-icon .form-control{padding-right:40px!important;}
.ft-links li{padding:0px 10px;}
.ft-links a:hover{color:var(--text-primary);}
.login-sec-row{height:100%;overflow: hidden;}
.login-sec-right-con{height:100vh;overflow: auto;width: 100%;padding: 65px;position: relative; background: #F9F9F9;box-shadow:-3px 0 24px rgba(0,0,0,0.15);}
.login-sec-right-wrap-h{width:100%;display: flex;align-items: center;min-height: 100%;}
.login-sec-right-main{max-width: 510px;height: auto;display: flex;align-items: center;width: 100%;margin: 0px auto;
    /* padding: 20px 0px 40px; */
}
.login-cform-main{width: 100%;}
.login-cform-main p{font-size:16px;line-height:1.5;color: #242424;}
.login-form-btn-wrap.logo-form-wid .graytext {color: #808080;}
.login-cform-main h1{font-weight:700;}
.logo-form-wid{max-width:510px;margin-left:auto;margin-right:auto;width:100%;}
.login-form{padding-top:45px;display:flex;flex-direction:column;margin: 0 auto;max-width: 510px;}
.login-form-forpass-link{color:var(--text-primary);font-size:16px;margin-bottom: 30px;}
.login-form-forpass-link:hover{color:var(--text-primary);}
.login-form-btn-wrap{margin-top:auto;}
.login-btn-link.btn.btn-outline { border-color: rgba(216, 218, 220, 1); border-radius: 12px; }
.login-btn-link.btn.btn-black{border-radius: 12px;}
.rightleft-line { margin: 0px auto; text-align: center; position: relative; width: 100%; padding: 10px 55px; }
.rightleft-line:before { content: ''; height: 1px; background: #D8DADC; left: 0px; top: 50%; right: 0px; display: block; position: absolute; transform: translateY(-50%); z-index: 0; }
.rightleft-line span { display: inline-block; background: #F9F9F9;font-size: 16px;color: #A2A2A2; padding: 5px 20px; position: relative; z-index: 1; }
.code-input { max-width: 120px; height: 48px;width: 100%; border: 1px solid #9EA1A8; border-radius: 12px; text-align: center; font-size: 14px; font-weight: 400; color: #121A2C; background: #FFFFFF;margin-right: 10px; transition: all 0.3s ease; }
.code-input:last-child {margin-right: 0;}
.verification-code-inputs { display: flex; flex-wrap: nowrap; align-items: center;margin-bottom: 10px; }
/* .login-btn-link.btn.btn-black:hover{color: #FFFFFF;} */
span.login-btn-link-text {line-height: 20px;}
.login-btn-col.g-logo .login-btn-link-text,
.login-btn-col.apple-logo .login-btn-link-text {
    font-size: 16px;
    font-weight: 500;
}